
.todos-list_item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.todos-list_item:hover .todos-list_item_text {
    background-color: #fafafa;
}

.todos-list_item {
    /*padding: 16px;*/
    padding: 12px;
    border-bottom: 1px solid #e6e6e6;
}

.todos-list_item:after {
    content: '';
    clear: both;
    display: table;
}

.todos-list_item.__no-border {
    border-bottom: 0;
}

.todos-list_item.__completed > .todos-list_item_text-w > .todos-list_item_text {
    text-decoration: line-through;
    color: #cccccc;
}

.todos-list_item.__hidden {
    display: none;
}

.todos-list_item_ready-marker {
    float: left;
    /*margin-right: 16px;*/
    margin-right: 12px;
}

.todos-list_item_text-w {
    overflow: hidden;
    padding-top: 4px;
}

.todos-list_item_text {
    width: 100%;
    padding: 0;
    resize: none;
    border: none;
    outline: none;
    font-size: 24px;
    font-family: HelveticaNeueLight, Arial, sans-serif;
    color: #666666;
    overflow-y: hidden;
    overflow-x: hidden;
}

.todos-list_item_remove {
    float: right;
    margin-left: 16px;
    width: 18px;
    height: 18px;
    background: url("../../../images/close.png") no-repeat 0 0;
    border: none;
    outline: none;
    margin-top: 10px;
    /*display: none;*/
    visibility: hidden;
}

.todos-list_item_remove:hover {
    cursor: pointer;
}

.todos-list_item:hover .todos-list_item_remove {
    /*display: block;*/
    visibility: visible;
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 120dpi),
(min-resolution: 1.5dppx) {
    .todos-list_item_remove {
        background: url(../../../images/close@2x.png) no-repeat 0 0;
		background-size: contain;
    }
}