.todo-board
{
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  position: relative;
}

.todo-board:before,
.todo-board:after
{
  position: absolute;
  top: 100%;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  z-index: -1;
}

.todo-board.__has-content:before,
.todo-board.__has-content:after
{
  content: '';
}

.todo-board:before
{
  left: 8px;
  right: 8px;
  height: 10px;
}

.todo-board:after
{
  left: 4px;
  right: 4px;
  height: 5px;
}

.todo-board .todos-list,
.todo-board .todos-toolbar
{
  display: none;
}

.todo-board.__has-content .todos-list
{
  display: block;
  min-height: 310px;
}

.todo-board .todo-creator .todo-creator_check-all
{
  visibility: hidden;
}

.todo-board.__has-content .todo-creator .todo-creator_check-all
{
  visibility: visible;
}

.todo-board.__has-content .todos-toolbar
{
  display: flex;
}
